body {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    border-bottom: 3px solid #000;
    /*background-color: coral*/
}

h2{
    font-size: xx-large;
}

.logo{
    font-size: larger;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;/* 子要素間のスペースを40pxに設定 */
    padding: 0;
    margin: 0;
}

nav li {
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: black;
}

section {
    padding: 20px;
    gap: 100px;
    font-size: larger;
}

#top{
    display: flex;
    justify-content:flex-start;/* 子要素を左揃え */
    align-items: center;
    border-bottom: 3px solid #000;
}

#top .text {
    display: flex;
    flex-direction: column; /* 文章を縦に並べる */
}

#top p {
    font-size: xx-large;
    margin: 0;
    margin-left: 19px;
}

#top images{
    display: flex;
}
.top-img {
    width: 70%;
    height: auto;
    border: 3px solid #333; /* 画像に枠線を追加 */
}


#work,#profile,#skill {
    margin-bottom: 40px;
}

.works {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
}

.works-img {
    border-radius: 15px; /* 画像の角を丸くする */
    width: 250px;
    height: auto;
    border: 3px solid #333;
}


.works-text {
    margin: 0;
}

.profile-img {
    width: 350px;
    border-radius: 50%;
    padding: 6%;
}

.profile {
    display: flex;
}

#profile img{
    display: flex;
}

#profile h1 {
    font-size: 300%;
}